<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
            <!--Vue2.0不同于Vue1.0版本，它把$index和$key都移除了，取而代之的是:key属性-->
			<!--简单数组-->
			<div v-for="(item,i) in list_sz">索引：{{i}}-->值：{{item}}</div><br />
      
			<!--对象数组-->
			<div v-for="(dx,i) in list_dx">索引：{{i}}-->id：{{dx.id}}--name：{{dx.name}}</div><br />
			<!--对象-->
			<div v-for="(val,key,index) of list_user">  
                              索引：{{index}} --> 键：{{key}} 值：{{val}}
            </div>  
		</div>
	</body>
	<script>
		var vm = new Vue({
			el:"#app",
			data:{
				list_sz:[1,2,3,4,5],
				list_dx:[{id:2,name:'李四'},{id:3,name:'王五'},{id:1,name:'张三'}],
				list_user:{
					id:1,
					name:'Mike',
					age:22,
					gender:'男'
				}
			}
		});
	</script>
</html>